body {
  background-color: black;
  color: #fff;
}

p {
  font-size: 25px;
  color: #2f2f2f;
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
}

p:nth-of-type(1) {
  top: 39vh;
  left: 68vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

p:nth-of-type(2) {
  top: 18vh;
  left: 90vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

p:nth-of-type(3) {
  top: 22vh;
  left: 78vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

p:nth-of-type(4) {
  top: 6vh;
  left: 34vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

p:nth-of-type(5) {
  top: 68vh;
  left: 68vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

p:nth-of-type(6) {
  top: 5vh;
  left: 59vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 16s;
          animation-delay: 16s;
}

p:nth-of-type(7) {
  top: 4vh;
  left: 6vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 20s;
          animation-delay: 20s;
}

p:nth-of-type(8) {
  top: 61vh;
  left: 85vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 23s;
          animation-delay: 23s;
}

p:nth-of-type(9) {
  top: 68vh;
  left: 85vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 25s;
          animation-delay: 25s;
}

p:nth-of-type(10) {
  top: 66vh;
  left: 51vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 28s;
          animation-delay: 28s;
}

p:nth-of-type(11) {
  top: 27vh;
  left: 87vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 29s;
          animation-delay: 29s;
}

p:nth-of-type(12) {
  top: 68vh;
  left: 70vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 33s;
          animation-delay: 33s;
}

p:nth-of-type(13) {
  top: 18vh;
  left: 72vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 34s;
          animation-delay: 34s;
}

p:nth-of-type(14) {
  top: 23vh;
  left: 80vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 35s;
          animation-delay: 35s;
}

p:nth-of-type(15) {
  top: 84vh;
  left: 62vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 36s;
          animation-delay: 36s;
}

p:nth-of-type(16) {
  top: 64vh;
  left: 47vw;
  -webkit-animation: blink 1s linear;
          animation: blink 1s linear;
  -webkit-animation-delay: 40s;
          animation-delay: 40s;
}

@-webkit-keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */