body {
    background-color: black;
    color: #fff;
}

p {
    font-size: 25px;
    color: #2f2f2f;
    position: absolute;
    user-select: none;
    opacity: 0;
}

$value: 1;

@for $i from 1 through 23 {
    p:nth-of-type(#{$i}) {
        top: #{random(90)}vh;
        left: #{random(90)}vw;
        animation: blink .5s linear;
        animation-delay: #{$value}s;
    }

    $value: $value+random(2);
}

@keyframes blink {
    50% {
        opacity: 1;
    }
}